.Header {
  display: block;
  position: fixed;

  width: 100%;
  height: 48px;
  top: 0;

  font-size: 1.5em;

  padding: 5px 15px;
  border-bottom: 2px solid royalblue;

  background-color: rgba(250, 250, 250, 0.85);

  z-index: 100;
}

.Header-spacing {
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
}
